header {
  background-color: lightcoral; }
  header nav {
    text-align: center; }
    header nav a {
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      header nav a:hover {
        color: lightcoral; }
